.current {
  background: var(--main-color);
  height: 330px;
  box-shadow: 0px 8px 16px var(--alt-main-color);
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;

  &-main-info {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &-main-info__temp {
    font-size: 90px;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 90px;
  }

  &-country-info {
    font-family: var(--font-family);
    font-size: 16px;
    color: #fff;
  }

  &-weather-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
  }

  &-weather-description {
    color: #fff;
    margin-bottom: 24px;
  }
}

.description {
  list-style: none;
  & > li {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  &-title {
    margin-right: 12px;
    font-weight: 600;
  }
}