:root {
  --main-color: #7D5FFF;
  --secondary-color: #2ED573;
  --third-color: #1E90FF;
  --dark-color: #3D3D3D;
  --light-color: #CED6E0;
  --alt-main-color: rgba(124, 95, 255, 0.40);
  --alt-secondary-color: rgba(46, 213, 116, 0.40);
  --alt-third-color: rgba(30, 143, 255, 0.40);

  --font-family: Montserrat, 'sans-serif';
}